.asr-app {
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    display: block;
    height: 100px;
    width: 300px;
}

.asr-app img {
    max-height: 100px;
}

.asr-app .app-images,
.asr-app .app-info {
    float: left;
}

.asr-app-info {
    display: inline-block;
    margin-top: 15px;
}
.asr-app-info .app-images {
    float: left;
}
.asr-app-info .app-images img {
    max-height: 40px;
}
.asr-app-info .app-info {
    float: left;
}

.asr-app-info .app-details-name {
    color: #666 !important;
    font-size: 0.8em;
}
.asr-app-info .app-details-author {
    color: #999 !important;
    font-size: 0.7em;
}

#page .asr-app .app-info h1.app-details,
.asr-app .app-info h1.app-details {
    color: #666 !important;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 0;
}

#page .asr-app .app-info h2.app-details,
.asr-app .app-info h2.app-details {
    color: #999 !important;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 0;
}

#page .asr-reviews,
.asr-reviews {
    padding-bottom: 20px;
}

#page .asr-reviews .asr-review,
.asr-reviews .asr-review {
    margin: 10px;
    padding: 20px 40px 20px 40px;
    border: 1px solid;
    border-color: #fff !important;
    border-radius: 10px;
    background: #fff;
    color: rgba(0,0,0,.65) !important;
    display: block;
    position: relative;
}

.asr-review-title {
    display: inline-block;
}

.asr-review-rating {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

#page .asr-reviews .asr-review a:hover,
.asr-reviews .asr-review a:hover {
    text-decoration: none !important;
}

#page .asr-reviews .asr-review h1,
.asr-reviews .asr-review h1,
#page .asr-reviews .asr-review h2,
.asr-reviews .asr-review h2 {
    color: #aaabab !important;
    font-size: 1.5em;
    width: auto;
    display: inline-block;
}

.asr-review h1 {
    margin-bottom: 0;
}

#page .asr-reviews .asr-review h2,
.asr-reviews .asr-review h2 {
    color: #aaabab !important;
    font-size: 1.25em;
}

#page .asr-reviews .asr-review .asr-review-rating i,
.asr-reviews .asr-review .asr-review-rating i {
    font-size: 1.5em;
    color: #aaabab !important;
}

#page .asr-reviews .asr-review .asr-review-author,
.asr-reviews .asr-review .asr-review-author {
    margin-top: 10px;
    font-size: 0.8em;
    color: #aaabab !important;
}

.blacklist {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: red !important;
}

.blacklist a i {
    color: red !important;
}